.form {
  display: inline-flex;
  flex-direction: column;
  border: 1px solid grey;
  padding: 20px;
  width: 200px;
}

.title {
  font-weight: 600;
}

.btn {
  width: 100px;
  margin: 15px auto;
  background-color: rgb(7, 216, 52);
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(121, 241, 121);
}

.speener {
  margin-left: 72px;
  height: 50px;
}
